body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Logout{
    position: fixed;
    top: 10px;
    right: 10px;
}
Button{
    background-color: red;
}
